<div>
    <uib-accordion>
        <uib-accordion-group ng-repeat="entry in documentation | orderBy: 'number'" >
            <uib-accordion-heading>
                {{entry.header}} <sup>{{entry.number}}</sup>
            </uib-accordion-heading>
            <button class="btn-danger pull-right" ng-click="removeEntry();">x</button>
                <p style="white-space:pre-wrap;"> {{entry.text}} </p>
        </uib-accordion-group>
    </uib-accordion>


    <div  ng-controller="AppLoginCtrl" ng-show="isAdmin">
    <div style="width: 40%">
        <h3>tilføj afsnit:</h3>
        Overskrift:<br> <input type="text" ng-model="newEntry.header"><br>
        afsnit nummer:<br>
        <input type="number" ng-model="newEntry.number"><br>
        </div>
        Teksten:
        <textarea ng-model="newEntry.text" style="width: 100%; height: 200px;">test</textarea>
        <input type="button" ng-click="addDocumentEntry();" value="Submit">
    </div>
</div>