<h1>Documentation</h1><br>

<div  ng-controller="AppLoginCtrl">
    <uib-accordion>
        <uib-accordion-group ng-repeat="entry in documentation | orderBy: 'number'" >
            <uib-accordion-heading>
                {{entry.header}} <sup>{{entry.number}}</sup>
            </uib-accordion-heading>
            <button class="btn-danger pull-right" ng-show="isAdmin" ng-click="removeEntry(entry.id);">x</button>
                <p style="white-space:pre-wrap;"> {{entry.text}} </p>
        </uib-accordion-group>
    </uib-accordion>
</div>